@font-face {
  font-family: 'Megatron';
  src:url('Megatron.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
h1{
  font-family: Megatron;
  font-size: 60px;
  color: #fe5e00;
  box-shadow: 2px,2px,#000000;
}